.venv/
__pycache__/
.vscode/
*.nc
*.zarr
wandb/
*.png
*.pdf
*.csv
*.pth
*.pt
*.pkl
*.pickle
*.log
*.log
.DS_Store
*.json
*.xlsx
*.gif
bvenv/
artifacts/
*.keras
*.h5
poetry*
togif.py
copy.sh
eda.py
*.npz
*.sif
logs/